@import './resets';
@import './variables';

.header {
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
    padding: 2rem;

    .logo {
        p {
            font-size: 4rem;
            font-weight: 700;
        }
    }

    .mega-menu {
        $self: ".mega-menu";

        padding-inline: 1rem;
        display: grid;
        place-items: center;

        &__list {
            display: flex;
            width: 600px;
            justify-content: space-between;
            align-items: center;
            list-style: none;
        }

        &__link {
            cursor: pointer;

            a, button {
                text-decoration: none;
                background-color: white;
                border: none;
            }

            &--dropdown {
                position: relative;

                .menu-button[aria-expanded="true"] + .submenu {
                    display: block;
                }

                .menu-button:focus,
                [role="menuitem"]:focus {
                    outline: 2px solid blue;
                }
            }
        }   

        &__dropdown {
            list-style: none;
            display: none;
            position: absolute;
            top: 2rem;
            padding: 1rem;
            border: 1px solid black;

            &__hidden {
                display: none;
            }
        }
    }
}

.form-container {
    max-width: 1000px;
    margin-inline: auto;
    padding: 1rem;

    .form-header {
        .heading {
            margin-bottom: 1rem;
        }
    }
}