@import './resets';
@import './variables';

html {
    scroll-behavior: smooth;
}

.header {
    background-color: $bg-teal;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding-inline: 2rem;
    margin: 1rem;
    position: sticky;
    top: 0;

    .logo {
        h1 {
            font-size: 4rem;
            font-weight: 700;
            color: $text-primary;
        }
    }

    .mega-menu {
        $self: ".mega-menu";

        padding-inline: 1rem;
        display: grid;
        place-items: center;

        &__list {
            display: flex;
            width: 600px;
            justify-content: space-between;
            align-items: center;
            list-style: none;
        }

        &__link {
            cursor: pointer;

            a, button {
                text-decoration: none;
                font-size: 2rem;
                border: none;
                color: $text-primary;
                background-color: transparent;
            }

            [role="menuitem"]:focus {
                outline: 2px solid $text-primary;
            }

            &--dropdown {
                position: relative;

                .menu-button[aria-expanded="true"] + .submenu {
                    display: block;
                }

                .menu-button:focus {
                    outline: 2px solid $text-primary;
                }

                .submenu {
                    [role="menuitem"]:focus {
                        outline: 2px solid $text-secondary;
                    }
                }
            }
        }   

        &__dropdown {
            list-style: none;
            display: none;
            position: absolute;
            top: 4rem;
            padding: 1rem;
            border-radius: 1rem;
            background-color: $text-primary;

            &__hidden {
                display: none;
            }

            #{$self}__link {
                a {
                    color: $text-secondary;
                }
            }
        }
    }
}

.container {
    margin-inline: 2rem;
    .home {
        height: 100vh;
        background-color: $bg-red;
        border-radius: 20px;
        padding: 5rem;
        margin-bottom: 1rem;

        &__header {

            h1 {
                color: $text-primary;
            }
        }
    }

    .contact {
        $self: ".contact";

        background-color: $bg-yellow;
        border-radius: 20px;
        padding: 5rem;
        margin-bottom: 1rem;

        &__form {

            .form-label:not(.form-label[for="privacy"]) {
                border: 0;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                width: 1px;
            }

            input {
                margin-bottom: 2rem;
                border: none;
                border-radius: 0;
                border-bottom: 1px solid $text-secondary;
            }

            input[type="checkbox"] {
                accent-color: $text-form-link;
            }

            textarea {
                border: none;
                border: 1px solid $border-purple;
            }

            a {
                color: $text-form-link;
            }
        }

        &__submit {
            font-size: 1.5rem;
            line-height: 2rem;
            padding-inline: 1rem;
            padding-block: 0.5rem;
            border: none;
            color: $text-primary;

            background-color: $border-purple;
        }

        &__submit:hover {
            background-color: $text-primary;
            color: $text-secondary;
        }
    }
}